<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheet/style.css' />
  </head>
  <body>
    <header>
         <h3>Sharmistha Sahu -N01483770</h3>
    </header>
    {{{body}}}
    <p>This is Assignment 2, ITE5315 Web Programming and framework. Content is : Layout and express handlebar</p>
    <footer>
         <h3>sharmistha.nist@gmail.com</h3>
    </footer>
  </body>
</html>